<div class="Page-header" >
  <h1> Todos los estados </h1>
</div>

<%= link_to "Crear un nuevo Post", new_status_path, class: "btn btn-success "    %>

  <tbody>
    <% @statuses.each do |status| %>
     <div class= "status">

        <strong><%= status.nombre %></strong>
        <p><%= status.contenido %></p>
         <div>
        <%= link_to "Hace: " + time_ago_in_words(status.created_at), status %>
        <span class = "admin "> |
        <%= link_to 'Edit', edit_status_path(status) %>
        <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
      </div>
      </div>
    <% end %>

  </tbody>


<br>




